<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="timeAfterCorrectAnswer" value="1500"/>
      <add key="recentFilePath" value="C:\Users\marco\Desktop\C#\QuestionLearner\QuestionLearner\QuestionLearner.Test\bin\Debug\recent.txt"/>
      <add key="countRecentQuestionnaires" value="3"/>
    </appSettings>
</configuration>